*{
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    
}
#khung{
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 1200px;
}
#main{
    border:  1px solid rgb(162, 0, 255);
    height: 400px;
    width:  100%;
   
   }



   /* header */

.menu{
    height: 80px;
    display: flex;
    width: 1200px;
}
.menutrai{
    flex: 1;
}
.menutrai img{
    width: 100%;
    height: 100%;
}
.timkiem{
    margin: 20px;
}
.timkiem input{
    border-right: 30px;
    border-radius: 30px;
    padding: 10px 5px;

}

.menuphai{
   background-color: rgb(255, 255, 255);

    flex: 4;
}
.menuphai ul{
    display: flex;
    justify-content: space-around;
    line-height: 50px;
    list-style: none;
    
}
.menuphai li a{
    text-decoration: none;
    color: black;
}
.menuphai a:hover{
    color: rgb(255, 0, 0);
}

.banner{
    background-color: aqua;
    height: 500px;
    width: 100%;
}

.banner img{
    width: 100%;
    height: 100%;
    
}



 
   /* menu sản phẩm */

.vertical-menu body {
    font-family: Arial, sans-serif;
    display: flex;
    background-color: #da0d0d;
}
.vertical-menu {
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
.vertical-menu a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 12px 16px;
    border-bottom: 1px solid #ddd;
    transition: all 0.3s;
}
.vertical-menu a:last-child {
    border-bottom: none;
}
.vertical-menu a:hover {
    background-color: #007BFF;
    color: #fff;
}
.vertical-menu a.active {
    background-color: #0056b3;
    color: white;
    font-weight: bold;
}

/* menu bên trái */

.containersp {
    display: flex;
    width: 100%;
    height: 80vh;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menusp {
    width: 25%;
    background: #016c26;
    padding: 10px;
    color: #fff;
}

.menusp ul {
    list-style-type: none;
    padding: 0;
}

.menusp ul li {
    margin: 100px 0;
    text-align: center;
}

.menusp ul li a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 20px;
    box-sizing: border-box;
    border-radius: 20%;
    width: 50px;
}

.menusp ul li a:hover {
    background-color: cyan;
    
    color: #ff0000;
}



/*  menu sp bên phải */

.noidung {
    width: 80%;
    padding: 20px;
    overflow-y: auto;
    text-align: center;
}

.noidung h2 {
    margin-top: 0;
    color: #34495e;
}

/* noi dung */
 .danhmucsp {
    display:flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    text-align: center;
    width: 1000px;
}

.sp {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    width: calc(25% - 2rem);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    align-items: center;
}

.sp:hover {
    transform: scale(1.1);
}

.sp img {
    width: 92px;
    height: 82px;
    border-radius: 92px;
    text-align: center;
}
.sp h3 {
    margin: 1rem 0;
    color: #4caf50;
    text-align: center;
}

.sp p {
    color: #777;
}

.sp button {
    padding: 0.5rem 1rem;
    background: #4caf50;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.sp button:hover {
    background: #cd4e2e;
}
  
   
   
   /* footer */
   .phancuoi{
    background-color: aquamarine;
    display: flex;
    text-decoration: none;
    width: 100%;
}
.lienhe a {
    text-decoration: none;
}
.lienhe a:hover{
color: #ff0101;

}